(
    // We have to use these special "externally tagged" specifiers instead of,
    // say, `FirstToScore(threshold: 80.0)` due to a bug in RON itself:
    // https://github.com/ron-rs/ron/issues/123
    picker: {"FirstToScore": (threshold: 80.0)},
    choices: [(
        when: {"Bladder": ()},
        // Thinkers happen to also be actions, so you can nest theem!
        then: {"Thinker": (
            picker: {"FirstToScore": (threshold: 80.0)},
            choices: [(
                when: [{"Bladder": ()}],
                then: {"Pee": ()}
            )]
        )}
    ), (
        when: {"Thirst": ()},
        then: {"Drink": ()},
    ), (
        when: {"Hunger": ()},
        then: {"Eat": ()},
    )],
    otherwise: Some({"Meander": ()}),
)

